@import '../../styles/_fonts.scss';
@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.profileFrame {

  

  .profileContent {
    width: 100%;
    margin: 0 auto;
    max-width: $desktop;
    background-color: #fff;
    color: #000;
    //width: 100%;
    &:before, &:after {
      display: block;
      content: ' ';
      clear: both;
    }
    h2 {
      font-family: $macysbold;
      width: 100%;
      font-size: 36px;
      line-height: 1;
      @include mq(mobile) {
        margin-bottom: 30px;
      }
    }

    .profileSummary {
      width: 90%;
      margin: 0 auto;
      color: #fff;

      p {
        display: inline-block;
        vertical-align: bottom;
        margin-left: 2%;
      }
    }

    .inner {
      // width: 90%;
      margin: 3% auto;
      @include mq(mobile) {
        margin-top: 0;
      }

      .profileInner {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items:flex-start;
        @include mq(mobile) {
          flex-direction: column;
        }

        .sidebar {
          width: 22%;
          margin: 0;
          @include mq(mobile) {
            width: 100%;
          }

          @include mq(mobile) {
            width: 100%;
          }

          h2 {
            font-family: $macysbold;
            font-size: 20px;
            background-color: transparent;
            color: #000;
          }
          ul {
            width: 80%;
            @include mq(mobile) {
              width: 100%;
              border-bottom: 1px solid $grayBorder;              
            }
            li {
              padding: 8% 0;
              border-top: 1px $grayBorder solid;
              line-height: 24px;
              @include mq(mobile) {
                display: inline-block;
                margin-right: 8%;
                line-height: 2;
                border-top: none;
                padding: 0;
              }

              &:last-of-type {
                border-bottom: 1px solid $grayBorder;
                /*padding-bottom:6px;*/
              }
              @include mq(mobile) {
                display: inline-block;
                width: auto;
                border: 0;
                &:last-of-type {
                  border-bottom: 0;
                }
              }
              a {
                display: inline-block;
                font-size: 14px;
                cursor: pointer;
              }
              a.active {
                font-family: $macysbold;
                @include mq(mobile) {
                  border-bottom: 2px solid $black;
                  padding-bottom: 0;
                }
              }
            }
            button {
              @include mq(mobile) {
                width: 100%;
              }
            }
          }
          
        }

        .panels {
          width: 77%;
          @include mq(mobile) {
            width: 100%;
            padding: 13% 0;
          }

          h2 {
            font-family: $macysbold;
            font-size: 24px;
            margin: 0% 0 2%;
            background-color: transparent;
            color: #000;
            padding: 0;
            @include mq(mobile) {
              font-size: 6.5vw;
              margin-bottom: 8%;
            }
          }

          h3 {
            font-size: 18px;
            font-family: $macysbold;
            margin: 5% 0 1%;
            @include mq(mobile) {
              margin-bottom: 16px;
            }
          }

          p {
            font-size: 14px;
          }

          .mobile {
            display: none;
            @include mq(mobile) {
              //display: block;
            }
          }

          .walletsPanel {
            .desktop {
              display: block;
              @include mq(mobile) {
                //display: none;
              }
            }
            
            img {
              max-width: 100px;
            }
            > p {
              margin-bottom: 8% !important;
              @include mq(mobile) {
                line-height: 1.4;
                margin: 24px 0 42px;
              }
            }
           



            a {
              text-decoration: underline;
              cursor: pointer;
            }

            >button {
              margin-top: 5%;
              // line-height: 50px;
              // border: none;
              // border-radius: 3px;
              cursor: pointer;
              @include mq(mobile) {
                width: 100%;
                max-width: 100%;
                display: block;
              }
            }

            .active {
              background-color: #efefef;
            }

            .sweetContainer {
              position: relative;
              .sweetPanel {
                position: relative;
                background-color: #fff;
                margin: 10% 0 11%;
                padding: 2% 0 2% 6%;
                border: 2px solid #000;
                border-radius: 8px;
                z-index: 1;
                @include mq(mobile) {
                  display: none;
                }

                svg {
                  vertical-align: middle;
                  margin-right: 3%;
                }
                .sweetCopy {
                  display: inline-block;
                  vertical-align: middle;

                  h2 {
                    line-height: 1.25;
                    margin: 0 auto 1%;
                  }
                }
              }

              &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 15px;
                right: -15px;
                background-color: #FACEF6;
                border: 2px solid #000;
                border-radius: 8px;
                z-index: 0;
              }
            }
            
          }

          .settingsPanel {
            h2 {
              font-size: 24px;
              margin-bottom: 5%;
              @include mq(mobile) {
                font-size: 5.25vw;
                margin-bottom: 12%;
              }
            }
            
            .formContainer {
              max-width: 1035px;

              .profileImage {
                margin-bottom: 3%;
              }

              input {
                line-height: 32px;
                width: 100%;
                border-color: #ccc;
                border-radius: 5px;
                margin-bottom: 8%;
                padding-left: 3%;
              }

              h2 {
                margin-top: 8%;
                @include mq(mobile) {
                  margin: 9% 0 9%;
                  font-size: 5.25vw;
                }
              }

              .halfBlock {
                display: inline-block;
                
                width: 50%;
                padding-right: 5%;
                vertical-align: top;
                @include mq(mobile) {
                  width: 100%;
                  padding: 0;
                  margin-bottom: 30px;
                }

                .label {
                  font-size: 16px;
                  font-family: $macysbold;
                  margin-bottom: 4%;
                  @include mq(mobile) {
                    margin-bottom: 10px;
                    font-size: 14px;
                  }

                  p {
                    font-family: $macysbold;
                  }
                }

                > p {
                  display: inline-block;
                  font-size: 24px;
                  margin-right: 2%;
                  @include mq(mobile) {
                    font-size: 20px;
                  }
                }

                > p.small {
                  max-width: 340px;
                  font-size: 12px;
                  color: $black;
                  margin-top: 10%;
                  @include mq(mobile) {
                    margin-top: 6%;
                  }
                }
              }

              .halfBlock:nth-child(2) {
                width: 30%;
                padding-right: 0;
                @include mq(mobile) {
                  width: 100%;
                  margin-bottom: 5%;

                  .label p {
                    font-size: 14px;
                  }
                }
                
                p {
                  @include mq(mobile) {
                    font-size: 5vw;
                  }
                }
              }

              button {
                display: inline-block;
                background: transparent;
                border: none;
                cursor: pointer;
              }

              .editButton {
                max-width: 342px;
                display: block;
                cursor: pointer;
                font-size: 14px;
                text-align: center;
                line-height: 3;
                font-family: $macysmedium;

                @include mq(mobile) {
                  margin: 0 0 5%;
                }
              }

              #link {
                max-width: 77px;
                display: inline-block;
              }

              #discord {
                width: 90%;
                display: inline-block;
              }
            }
          }

          .notificationsPanel {
            @include mq(mobile) {
              margin-top: -5%;
            }
            h2 {
              font-size: 24px;
              line-height: 2.5;
              margin-top: -2%;
              margin-bottom: 3%;
              border-bottom: 1px solid #ccc;
              @include mq(mobile) {
                line-height: 1.5;
                margin-top: 0;
                margin-bottom: 6%;
              }
            }

            > p {
              margin-bottom: 5%;
            }

            label {
              display: block;
              line-height: 2;
              @include mq(mobile) {
                margin: 2% 0;
              }
              input {
                display: inline-block;
                accent-color: #000;
                width: 2%;
                @include mq(mobile) {
                  transform: scale(3);
                  vertical-align: top;
                }
              }
              p {
                display: inline-block;
                width: 95%;
                margin-left: 1%;
                @include mq(mobile) {
                  width: 90%;
                  vertical-align: top;
                  line-height: 1.2;
                  margin-left: 5%;
                }
              }
            }
            input {
              line-height: 1;
              display: inline-block;
            }
            input[type="submit"] {
              max-width: 458px;
              font-family: $macysmedium;
              width: 30%;
              margin-top: 4%;
              margin-right: 2%;
              cursor: pointer;
              @include mq(mobile) {
                  width: 100%;
                  margin-top: 12%;
                  margin-bottom: 4%;
                }
            }

            input[value="Cancel"] {
              background: #fff;
              border: 2px solid #000;
              @include mq(mobile) {
                width: 100%;
                margin-top: 0%;
              }
            }
          }
        }
      }
    }
  }

  .nonslider {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;
  }
}








