$desktop: 1600px;
$mobile: 750px;
$bg: #ffffff;

$pink: #FFC7FC;
$lightpink: #FCCEEE;
$gridButtonPink: #EEE2EE;
$red: #FF0000;
$redError: #F50002;
$green: #B0FD00;
$white: #ffffff;
$black: #000;
$blue: #3680EB;
$gray: #EFEFEF;
$grayText: #777777;
$grayDot: #EEE2EE;
$grayBorder: #d6d6d6;
$gold: #FFC615;
$skyblue: #D0EBF9;
$purple: #8979D9;



