@import '@/styles/fonts';
@import '@/styles/variables';
@import '@/styles/mixins';

.main {
  width: 95%;
  margin: 0 auto;

  .intro {
    width: 75%;
    margin: 6% auto;
    h3 {
      font-size: 24px;
      color: navy;
      text-align: center;
      margin-bottom: 1%;
    }

    h1 {
      font-size: 36px;
      color: navy;
      text-align: center;
      margin-bottom: 4%;
    }

    p {
      width: 75%;
      margin: 0 auto;
      text-align: center;
    }
  }
  

  
}