@import '@/styles/fonts';
@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  position: sticky;
  background-color: #ccc;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding: 1%;

  p {
    font-size: 12px;
    text-align: center;

    a {
      text-decoration: underline;
    }

    img {
      vertical-align: middle;
      margin-left: 20px;
    }
  }
}