@import '@/styles/fonts';
@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  width: 100%;
  background-color: #efefef;

  .inner {
    position: relative;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    height: 50px;

    .logo {
      width: 200px;
      img, span {
        vertical-align: middle;
      }

      span {
        font-size: 24px;
        font-weight: 600;
        color: navy;
        margin-left: 1%;
      }
    }

    nav {
      position: relative;
      display: flex;
      line-height: 20px;
      align-items: center;
      justify-content: flex-end;

      > a {
        display: inline-block;
        padding: 0 8%;
        white-space: nowrap;
        color: #666;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }

        &:hover {
          color: #000;
          text-decoration: underline;
        }
      }

      .signin {
        width: 300px;
        margin-left: 20px;
        padding: 5px 10px;
      }
    }
  }

  .profileMenu {
    position: relative;
    img {
      width: 25px;
      height: auto;
      vertical-align: middle;
    }
    .profileToggle {
      position: static;
      margin-left: 10%;      
    }
    .profileList {
      position: absolute;
      top: 20px;
      right: 2%;
      background-color: #fff;
      margin-top: 16px;
      margin-left: -190px;
      width: 200px;
      border: none;
      
      border-radius: 20px;
      color: #000;
      z-index: 10;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);

      > div {
        border: 1px solid #ccc !important;
      }
      
      ul {
        padding: 8px;
        li {
          line-height: 1;
          display: flex;
          align-items: center;
          padding: 10%;

          &.li {
            padding: 0;
          }
          &.lineDivider {
            margin: 10px auto;
            padding:0;
          }
          &:hover {
            background-color: $gray;
          }
          a {
            display: block;
            width: 100%;
            font-family: Arial;
            font-size: 14px;
            text-decoration: none;
            margin-left: 10px;
            cursor: pointer;

            &:hover {
              text-decoration: none;
            }
          }

          svg, img {
            width: 25px;
            vertical-align: middle;
          }

          img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}