@import '@/styles/fonts';
@import '@/styles/variables';
@import '@/styles/mixins';

.wrapper {
  width: 100%;
  background-color: #efefef;

  .inner {
    position: relative;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;
    height: 50px;

    .logo {
      width: 200px;
      img, span {
        vertical-align: middle;
      }

      span {
        font-size: 24px;
        font-weight: 600;
        color: navy;
        margin-left: 1%;
      }
    }

    nav {
      position: relative;
      display: flex;
      line-height: 20px;
      align-items: center;
      justify-content: flex-end;

      > a {
        display: inline-block;
        padding: 0 10%;
        white-space: nowrap;
        color: #666;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }

        &:hover {
          color: #000;
          text-decoration: underline;
        }
      }

      .signin {
        width: 200px;
        margin-left: 20px;
      }
    }
  }
}