@import '../../styles/_fonts.scss';
@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.walletScannerFrame {
  display: inline-block;
  position: relative;
  width: 60%;
  height: 250px;
  padding: 2%;
  border: 1px solid #666;
  border-radius: 10px;
  vertical-align: top;
  margin-top: 2%;

  @include mq(mobile) {
    width: 95%;
    margin: 0 auto;
  }

  img, video {
    width: 100%;
  }

  svg {
    max-width: 40px;
  }

  h3 {
    display: inline-block;
    font-family: $macysbold;
    font-size: 16px !important;
    margin-top: 0 !important;
  }

  p {
    display: inline-block;
    font-size: 14px;
    margin-right: 2%;
  }

  .walletName {
    position: absolute;
    left: 5%;

    p {
      font-family: $macysbold;
      font-size: 12px;
    }

    svg {
      max-width: 25px;
    }
  }

  .walletAddress {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .walletChain {
    width: 50%;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
  }

  .walletBalance {
    width: 50%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
  }

  .walletStatus {
    position: absolute;
    top: 5%;
    right: 3%;
  }

  select, input {
    line-height: 1;
    padding: 2%;
    margin-right: 2%;
  }
}

.collection {

  h3 {
    margin-top: 3% !important;
  }

  .digitalItems {
    margin-top: 2%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: center;

      @include mq(mobile) {
        display: block
      }
      .allNFTSItem {
        max-width: 332px;
        width: 100%;
        padding: 10px;
        margin-bottom: 2%;
        @include mq(desk-sm) {
          /*width: get-vw(432px, 1344);*/
        }
        @include mq(max) {
          width: 382px;
          /*max-width: 33%;*/
          margin-right: 24px;
          > div {
            width: 100%;
          }
          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }

        @include mq(mobile) {
          max-width: 247px;
        }
    
        .inner {
          height: auto;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          //border: 1px solid #333;
          //border-radius: 10px;
          overflow: hidden;
          // padding: 2%;
          margin: 2% 0;
    
          button {
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
          }

          img, video {
            width: 100%;
          }
        }
      }
      .allNFTSItem:first-child {
        padding-left: 0;
      }
      @media only screen and (max-width: 1024px) {
        .allNFTSItem {
          width: calc(50% - 2px);
        }
      }
      @media only screen and (max-width: 767px) {
        .allNFTSItem {
          width: 100%;
        }
      }
    }
  }
}

.walletSelector {
  margin-bottom: 2%;
}